@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');



html{   
    background: #907AD6;
    font-family: "EB Garamond";
    color: #3697C8;
}

body{
    font-size: 20px;
}

header, footer{
    background: #3697C8;
    height: 80px;
    border: 3px solid #FCE6FF;
}

.button1{
    width: 200px;
    height: 40px;
    font-family: "EB Garamond";
    font-size: 120%;
    border: none;
    border-radius: 20px;
    background: #FCE6FF;
    color: #D893EF;
    position: absolute;
    top: 30px;
    right: 500px;
}

.button2{
    width: 200px;
    height: 40px;
    font-family: "EB Garamond";
    font-size: 120%;
    border: none;
    border-radius: 20px;
    background: #FCE6FF;
    color: #D893EF;
    position: absolute;
    top: 30px;
    right: 270px;
}

.buttondark{
    width: 200px;
    height: 40px;
    font-family: "EB Garamond";
    font-size: 120%;
    border: none;
    border-radius: 20px;
    background: #4C2860;
    color: #D893EF;
    position: absolute;
    top: 30px;
    right: 40px;
}

article{
    width: 60vw;
    margin: 0px auto;
}

h1{
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 20px;
}

.circleimg{
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.townimg{
    width: 350px;
}

.town{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    padding: 0px 20px 20px 20px;
}

.hobbyimg{
    width: 250px;
    height: 250px;
}

.hobby{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    padding: 0px 20px 20px 20px;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    padding: 0px 20px 20px 20px;
}

.skillsimg{
    width: 250px;
    height: auto;
}

.right{
    text-align: right;
}

.middle{
    text-align: center;
}

.left{
    text-align: left;
}

.toptenalign{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.block {
    background: #FCE6FF;
    border: 3px solid #3697C8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dots{
    list-style-type: circle;
    list-style-position: inside;
}

article ul{
    margin: 0;
    padding: 0;
    width: 350px;
}

article ul li{
    margin: 0;
    padding: 0;
}

footer{
    color:#D893EF;
    display: flex;
    justify-content: center;
    align-items: center;
}